
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>Tribus: Mutipurpose Template</title>

<!-- Page loader -->
<script src="assets/pace/js/pace.min.js"></script>
<link rel="stylesheet" href="assets/pace/css/pace-minimal.css" type="text/css">

<!-- Bootstrap -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">


<!-- CSS animation library -->
<link rel="stylesheet" href="assets/animate/animate.min.css" type="text/css">

<!-- Plugins -->
<link rel="stylesheet" href="assets/bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="assets/swiper/css/swiper.min.css">

<!-- Icons -->
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css" type="text/css">
<link rel="stylesheet" href="fonts/line-icons/line-icons.css" type="text/css">
<link rel="stylesheet" href="fonts/line-icons-pro/line-icons-pro.css" type="text/css">

<!-- Global style (main) -->
<link id="stylesheet" type="text/css" href="css/global-style.min.css" rel="stylesheet" media="screen">
<!-- Custom style - Remove if not necessary -->
<link type="text/css" href="css/custom-style.css" rel="stylesheet">

<!-- Favicon -->
<link href="images/favicon.png" rel="icon" type="image/png">


</head>
<body>





                    <!-- PAGE TITLE -->
                    <section class="page-title-wrapper sct-color-1 has-bg-cover bg-size-cover" style="background-image: url(images/backgrounds/img-4.jpg);">

                        <span class="mask mask-dark--style-2"></span>

                        <div class="container">
                            <div class="page-title page-title--style-2">
                                <div class="">
                                    <h2 class="heading heading-1 text-uppercase c-white strong-600">Services</h2>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- Scroll down to next section button -->
                        <a href="#nextSection" class="page-title-scroll-down scroll-me">
                            <i class="ion ion-arrow-down-c"></i>
                        </a>
                    </section>

                    <!-- Services list -->
                    <section class="slice sct-color-1" id="nextSection">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-xs-center">
                                <h3 class="section-title-inner heading-5 strong-600 text-uppercase">
                                    What we do
                                </h3>
                                <h4 class="heading heading-6 strong-300 c-gray-light text-normal">
                                    We are ready to deliver your next shipment!
                                </h4>
                                <span class="section-title-delimiter clearfix"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-ios-flask-outline"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Hazmat</h3>
                                            <p>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-ios-cog-outline"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Truckloads</h3>
                                            <p>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-android-bus"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">LTL</h3>
                                            <p>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-md-md"></span>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-android-globe"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Distribution</h3>
                                            <p>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-ios-paper-outline"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Consolidation</h3>
                                            <p>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-shuffle"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Cross-Dock</h3>
                                            <p>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-md-md"></span>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-ios-download-outline"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Blind Shipments</h3>
                                         <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-ios-home-outline"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Warehousing</h3>
                                           <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-block icon-block--style-1-v3 icon-block--style-1-v3-dashed">
                                        <div class="block-icon">
                                            <i class="ion-arrow-graph-up-right"></i>
                                        </div>
                                        <div class="block-content">
                                            <h3 class="heading heading-6 strong-500">Expedited Deliveries</h3>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice has-bg-cover" style="background: url('images/backgrounds/section/img-3.jpg');">

                        <div class="mask mask-base-1--style-2"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="py-3">
                                        <h2 class="heading heading-2 strong-300 c-white">
                                            <strong>Rush Cartage</strong> shipping made easy.
                                        </h2>
                                        <p class="c-white mt-3">
                                           Communication is key to a successful carrier-shipper relationship. With Rush Cartage, you will always be dealing directly with the owner. 
                                        </p>

                                        <div class="btn-container mt-3">
                                            <a href="/about_us" class="btn btn-lg btn-white">Meet the team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                  

                    <!-- CALL TO ACION -->
                    <section class="slice bg-base-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="text-xs-center">
                                        <a href="/contacts" class="btn btn-lg btn-base-5 btn-outline btn-circle">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

      
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#0" class="back-to-top"></a>

<!-- Required JSs -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>

<!-- Essential JSs -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdowneffect.js"></script>
<script src="js/bootstrap-extensions/bootstrap-validator.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/classie.js"></script>
<script src="js/slidebar/slidebar.js"></script>

<!-- Assets - Required -->
<script src="assets/headroom/headroom.min.js"></script>
<script src="assets/headroom/jquery.headroom.min.js"></script>
<script src="assets/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="assets/swiper/js/swiper.min.js"></script>
<script src="assets/parallax/parallax.min.js"></script>
<script src="assets/viewport-checker/viewportchecker.min.js"></script>
<script src="assets/milestone-counter/jquery.countTo.js"></script>

<!-- Cross-browser responsivity scripts -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Google Analitycs JS -->
<script type="text/javascript" src="js/wpx.ga.js"></script>


<!-- App JS -->
<script src="js/wpx.app.js"></script>

</body>
</html>
