<h1>Clients</h1>
<% @clients.each do |client| %>
<div class="col-md-4">
    <div class="well">
    <h3><b>Name:</b> <%= client.name %></h3>
   <h3><b>Email:</b> <%= client.email %></h3>
</div>
</div>
<% end %>
</div>