
<!DOCTYPE html>
<html>
<head>

<section class="parallax-section parallax-section-lg" style="background-image: url('images/backgrounds/page-title/page-title-img-1.jpg'); background-position: center 13px; min-height: 320px;">

                        <div class="mask mask-base-1--style-1"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="py-3">
                                        <h1 class="heading heading-1 c-white strong-400 text-normal">
                                            We are here to help you. <strong class="strong-600">Anytime!</strong>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-2">
                        <div class="container container-over-top">
                            <div class="container-inner sct-color-1">


    <!-- Map canvas -->
  
                                    <!-- google-container will contain the map  -->
                                    <div id="map_canvas" class="map-canvas"></div>
                                  
                                    <div id="map-zoom-in"></div>
                                    <div id="map-zoom-out"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice pt-0 sct-color-2">
                        <div class="container">
                            <div class="block-card-wrapper">
                                <div class="block-card-section z-depth-1-bottom">
                                    <div class="" id="same_height_1">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="px-2 py-2">
                                                    <h3 class="heading heading-6 strong-600 text-uppercase">
                                                        Send us a message
                                                    </h3>

                                                    <!-- Contact form -->
                                                    <form class="form-default form-material mt-3" role="form">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase  c-gray-light">Your name</label>
                                                                    <input type="text" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Email address</label>
                                                                    <input type="lynda_guillu@att.net" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Company Name</label>
                                                                    <input type="text" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Phone</label>
                                                                    <input type="text" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Message</label>
                                                                    <textarea class="form-control no-resize" rows="5" placeholder=""></textarea>
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <button type="submit" class="btn btn-lg btn-base-1 mt-1">Send message</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="same-height bg-base-1" data-same-height="#same_height_1">
                                                    <div class="px-2 py-2">
                                                        <h3 class="heading heading-6 strong-500 text-uppercase">
                                                            Contact information
                                                        </h3>


                                                        <div class="icon-block--style-3 mb-1 mt-3">
                                                            <i class="icon ion-ios-telephone bg-base-4"></i>
                                                            <span class="heading heading-6 strong-400">
                                                                847-671-4306
                                                            </span>
                                                        </div>

                                                        <div class="icon-block--style-3 mb-1">
                                                            <i class="icon ion-ios-email bg-base-4"></i>
                                                            <span class="heading heading-6 strong-400">
                                                                admin@rushcartage.com
                                                            </span>
                                                        </div>

                                                        <div class="icon-block--style-3">
                                                            <i class="icon ion-ios-location bg-base-4"></i>
                                                            <span class="heading heading-6 strong-400">
                                                                1101 N Ellsworth Ave, <br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbspFranklin Park, IL
                                                           
                                                        
                                                           
                                                           
                                                        </div>

                                                        <span class="clearfix"></span>

                                                        <a href="#" class="btn btn-block btn-base-5 btn-outline btn-circle mt-3">
                                                            Get directions
                                                        </a>

                                                        <span class="clearfix"></span>

                                                        <div class="text-xs-center">
                                                            <ul class="social-media social-media--style-1-v4 mt-2">
                                                                <li>
                                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="instagram" target="_blank">
                                                                        <i class="fa fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

    


  
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#0" class="back-to-top"></a>

<!-- Required JSs -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>

<!-- Essential JSs -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdowneffect.js"></script>
<script src="js/bootstrap-extensions/bootstrap-validator.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/classie.js"></script>
<script src="js/slidebar/slidebar.js"></script>

<!-- Assets - Required -->
<script src="assets/headroom/headroom.min.js"></script>
<script src="assets/headroom/jquery.headroom.min.js"></script>
<script src="assets/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="assets/swiper/js/swiper.min.js"></script>
<script src="assets/parallax/parallax.min.js"></script>
<script src="assets/viewport-checker/viewportchecker.min.js"></script>
<script src="assets/milestone-counter/jquery.countTo.js"></script>

<!-- Cross-browser responsivity scripts -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Google Analitycs JS -->
<script type="text/javascript" src="js/wpx.ga.js"></script>


<!-- Google maps -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/google-maps/google-maps-custom.js"></script>

<!-- App JS -->
<script src="js/wpx.app.js"></script>

</body>
</html>
