<h1>Create a New POD</h1>



<%= form_tag "/pods", method: :post do %>
<div class="form-group">
  Driver Name: <input type="text" class="form-control" name="driver_id">
</div>
<div class="form-group">
  Client Name: <input type="text" class="form-control" name="client_id">
</div>
<div class="form-group">
  Pick Address: <input type="text" class="form-control" name="pickup_address">
</div>
<div class="form-group">
  Scheduled Pickup: <input type="text" class="form-control" name="scheduled_pickup">
</div>
<div class="form-group">
  Actual Pickup: <input type="text" class="form-control" name="actual_pickup">
</div>
<div class="form-group">
  Drop Off Address: <input type="text" class="form-control" name="dropoff_address">
</div>
<div class="form-group">
  Scheduled Dropoff: <input type="text" class="form-control" name="scheduled_dropoff">
</div>
<div class="form-group">
  Scheduled Dropoff: <input type="text" class="form-control" name="actual_dropoff">
</div>

<input type="submit" class="btn btn-default" value="create POD">
<% end %>
  <a href="/pods">Back to all PODS</a>