<h1 align="center">Drivers</h1>

<div class="container">

<% @drivers.each do | driver | %>
  <div class="col-lg-4">
    <div class="well">
      <h6>Driver ID: <%= driver.id %></h6>
      <h5><%= driver.name %></h5>
      <h6><a href="/drivers/<%= driver.id %>">More details</a></h6>

    </div>
</div>
<% end %>
</div>







