<h1>Drivers</h1>

<div class="row">

<% @drivers.each do | driver | %>
  <div class="col-md-4">
    <div class="well">

      <h3>Driver ID: <%= driver.id %></h3>
      <h3><%= driver.name %></h3>
      <h3><a href="/drivers/<%= driver.id %>">More details</a></h3>
      </div>
  </div>
<% end %>
</div>